// Reset
* {
    margin: 0;
    padding: 0;
  }

  @import "header";
  @import "main";
  @import "footer";

  body {
    margin: 0;
    position: relative;
    padding-bottom: 20em;
    min-height: 100%;
  }