// Reset
* {
    margin: 0;
    padding: 0;
  }
  
  // Header
  h1,
  div p,
  h2 {
    text-align: center;
  }
  
  #cabecera-envios {
    background-color: black;
    width: 100%;
  
    h2 {
      color: white;
      text-align: center;
      font-size: small;
      padding: 5px;
    }
  }
  
  #cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
  
    .lupa {
      width: 25px;
    }
  
    .logo img {
      width: 300px;
    }
  
    .carrito img {
      width: 25px;
    }
  }
  
  #menu-principal {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 50px;
  
      a {
        color: black;
        padding-left: 50px;
        padding-right: 50px;
  
        &:hover {
          color: white;
          background-color: black;
          font-weight: bold;
        }
      }
    }
  }
  
  // Main
  .mx-auto {
    margin: 20px;
  }
  
  #garantias {
    text-align: center;
  
    div {
      display: inline-block;
      padding: 100px;
      font-weight: bold;
    }
  
    img {
      width: 150px;
      display: block;
      padding: 25px;
    }
  }
  
  .productos {
    display: flex;
    flex-wrap: wrap;
  }

  #boton {
    color: white;
    background-color: black;
    padding: 10px;
    margin-bottom: 15px;
    border-color: white;
  }
  // Footer
  footer {
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
  
    img {
      width: 200px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  
    #politicas a {
      list-style-type: none;
      text-decoration: none;
      color: white;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    #redesSociales img {
      width: 50px;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    p {
      padding-bottom: 20px;
      padding-top: 5px;
    }
  }
  